*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #352F2D;
  --secondary: #E8E3D6; 
  --accent1: #E6C57D;
  --accent2: #D7C0BB;
  --text: #F0EADD
}

@font-face {
  font-family: 'PP Migra';
  src: url('../../public/fonts/Migra-Extrabold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;

}

html, body{
  color: var(--text);
  font-family: "neue-haas-unica", sans-serif;
  font-weight: 400;
  font-size:16px;
  font-style: normal;
  letter-spacing: -0.02em;
  line-height: 1.5;
}


h1{
  font-family: 'PP Migra';
  font-size: 160px;
  font-weight: 800;
  letter-spacing: -0.04em;
  line-height: 0.8;
}

h3{
  font-family: 'PP Migra';
  font-size: 56px;
  font-weight: 800;
  letter-spacing: -0.04em;
  line-height: 0.83;
}

.regular{
  font-family: "neue-haas-unica", sans-serif;
  font-weight: 400;
  font-size:16px;
  font-style: normal;
  letter-spacing: -0.02em;
  line-height: 1.5;
  color: var(--accent2)
}

.small{
  font-family: "neue-haas-unica", sans-serif;
  font-weight: 400;
  font-size:14px;
  font-style: normal;
  letter-spacing: -0.02em;
  line-height: 1.4;
}

button{
  font-family: "neue-haas-unica", sans-serif;
  font-weight: 400;
  font-size:20px;
  font-style: normal;
  letter-spacing: -0.02em;
  line-height: 1;
}