.navTabs {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

.navMobile {
    display: none;
}

.mobileMenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--accent1);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 20%;
    align-items: center;
    row-gap: 1rem;
    z-index: 2;

}

.tabsWrapper {
    display: flex;
    flex-direction: column;

    row-gap: 1rem;
    align-items: center;
}

.mobileMenu span {
    color: var(--primary);
    font-family: "neue-haas-unica", sans-serif;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    letter-spacing: -0.02em;
    line-height: 1;
}

@media screen and (max-width: 1024px) {
    .navTabs {
        display: none;
    }

    .navMobile {
        display: flex;
        justify-content: flex-end;
    }

    .navButton {
        align-self: flex-end;
        z-index: 3;
        transition: 1s;
        position: relative;
    }

    .image{
        padding: 2rem;
    }
}